/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'StratosSkyeng', sans-serif;
}

body {
    background-color: #e6e0f8; /* Цвет фона как на скринах */
}

.content {
    background-size: cover;
    min-height: 100vh;
    padding-top: 40px;
}

/* Центрирование контента */
.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}

/* Навигация (кнопки) */
.navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.nav-button {
    background-color: #8b5cf6;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

/* Сетка для мемов */
.memes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.memes-grid img {
    width: 100%;
    border-radius: 10px;
}

/* Стили для текста и списков */
h1, h2 {
    margin-bottom: 20px;
}

ul, ol {
    margin-left: 20px;
    line-height: 1.6;
}

.main-info {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    margin-bottom: 30px;
}

.main-info img {
    width: 400px;
    border-radius: 10px;
}